@model Pelicula
@{
    ViewData["Title"] = "GetPeliculasPopulares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Peliculas Populares</h1>

<div class="row row-cols-2 row-cols-md-3 ">
    @foreach (Pelicula pelicula in Model.Peliculas)
    {
        <div class="container mx-auto mt-4">
            @*<div class="row">*@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    @*<img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">*@
                    <img src="@pelicula.Imagen" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@pelicula.Titulo</h5>
                        @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
                        <p class="card-text">@pelicula.Descripcion</p>
                        @*botones*@
                        @*<a href="#" class="btn mr-2"><i class="fas fa-link"></i> Favoritos</a>*@
                        <a href="@Url.Action("AddFavoritos", "Pelicula", new { media_id = pelicula.media_id })" class="btn "><i class="fab fa-github"></i> Favoritas</a>
                    </div>
                </div>
            </div>
            @*</div>*@
        </div>
    }
</div>

